:root{
    --text-color:gray;
    --titleColor:red;
    --MainBackground:black;
    --main-font-size:16px;
    --font-family:'Courier New', Courier, monospace;
    --secondary-font-family:Arial, Helvetica, sans-serif
}
html{
    font-size: var(--main-font-size);
}
body{
    background-color: var(--MainBackground);
    font-family: var(--font-family);

}
h3{
    color: var(--titleColor);
    font-size: 3rem;
    font-family: var(--secondary-font-family);
}
p{
    color: var(--text-color);
    font-size: 1.5rem;
}
.custom{
    --text-color:white;
    color: var(--text-color);
}

@media(max-width:700px){
    /* p{
        color: rgb(168, 16, 16);
    }
    h3{
        color: rgb(168, 16, 16);
    } */
    :root{
        --text-color:rgb(8, 0, 0);
        --titleColor:rgb(7, 14, 218);
        --MainBackground:rgb(230, 250, 4);
        --main-font-size:10px;
    }
    .custom{
        --text-color:rgb(25, 173, 237);
    }
}