*{
    box-sizing: border-box;
}
body{
    background-color: gray;
    margin: 0;
    font-family: Inter;
    font-size: 16px;
}
main{
    border-radius: 20px;
    background: rgb(255, 255, 255);
    width: 360px;
    margin: 50px auto;
    padding: 56px 24px 91px 20px;
}
.menu-row{
    font-size: 0;
}
.menu-item{
    display: inline-block;
    border: 1px solid red;
    margin-right: 24px;
    text-align: center;
    vertical-align: top;
    /* opacity: 0-1; */
    opacity: 0.5;
    transition: all 2s;
}
.img-bg{
    width: 74px;
    height: 74px;
    border-radius: 12px;
    background: rgb(239, 239, 239);
    padding-top: 20px;
}
.menu-item:last-child{
    margin-right: 0;
}
.menu-item h3{
    color: rgb(196, 196, 196);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    /* letter-spacing: 0%; */
    margin-top: 8px;
}
/* .menu-item.active .img-bg{
    background: rgb(234, 226, 183);
}
.menu-item.active h3{
    color: black;
} */
/* h3:hover{
    color: black;
} */
.menu-item:hover{
    opacity: 1;
}
.menu-item:hover .img-bg{
    background: rgb(234, 226, 183);
}
.menu-item:hover h3{
    color: black;
}
.logo-block{
    width: 512px;
    height: 512px;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(33, 55, 252);
    border-top: 2px solid rgb(33, 55, 252);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 34px;
}
.round-container{
    width: 444px;
    height: 444px;
    background-color: yellow;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
.bg-top{
    z-index: 1;
}
.logo{
    position: relative;
    top: -35px;
    z-index: 2;
}